body {
	background:#000;
	color:#fff;
	font-size:16px;
	text-align:center;
	margin:.5em;
}
a, #info, #playBtn {
	color:#55FF55;
}
#playBtn {
	appearance:none;
	-webkit-appearance:none;
	background:none;
	border:0;
	outline:0;
	padding:0;
	height:0;
	font-size:5em;
	letter-spacing:-.2em
}
#playBtn:hover, a:hover {
	color:#fff;
}
#info-desc {
	font-size:.8em;
	margin-top:2em
}
a {
	text-decoration:none;
	border-bottom:1px solid;
	padding-bottom:7px;
}
::-webkit-scrollbar {
	width:.75em;
}
::-webkit-scrollbar-track {
	background:#000;
}
::-webkit-scrollbar-thumb {
	background:#55FF55;
}
::selection {
	color:#000;
	background:#55FF55;
}
::-moz-selection {
	color:#000;
	background:#55FF55;
}
