@font-face {
	font-family:"nesx";
	font-display:swap;
	src:url("//allekok.github.io/src/frontend/style/DroidNaskh-Regular.woff2") format("woff2");
}
body {
	background:#000;
	color:#fff;
	font-family:"nesx";
	font-size:12px;
	text-align:center;
	margin:.5em;
}
a, #info, #playBtn {
	color:#55FF55;
	transition:all .2s;
}
#playBtn {
	appearance:none;
	-webkit-appearance:none;
	background:none;
	border:0;
	outline:0;
	padding:0;
}
#playBtn svg {
	width:2em;
}
#playBtn:hover {
	filter:saturate(0);
}
#info-desc {
	font-size:.8em;
	margin-top:2em
}
a {
	text-decoration:none;
	border-bottom:1px solid;
	padding-bottom:7px;
}
a:hover {
	color:#FFF;
}
::-webkit-scrollbar {
	width:.75em;
}
::-webkit-scrollbar-track {
	background:#000;
}
::-webkit-scrollbar-thumb {
	background:#55FF55;
}
::selection {
	color:#000;
	background:#55FF55;
}
::-moz-selection {
	color:#000;
	background:#55FF55;
}
